# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - cartgenie-docker-server

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to container registry
        uses: docker/login-action@v2
        with:
          registry: cartgenieregistry.azurecr.io/
          username: ${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_3934B39132C6454A9E2966ADA58371DE }}
          password: ${{ secrets.AZUREAPPSERVICE_CONTAINERPASSWORD_91AE0CB5D3A342D2920C366E6B2A1027 }}

      - name: Build and push container image to registry
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: cartgenieregistry.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_3934B39132C6454A9E2966ADA58371DE }}/appsvc/staticsite:${{ github.sha }}
          file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    
    needs: build
    
    steps:
      
      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'cartgenie-docker-server'
          slot-name: 'Production'
          images: 'cartgenieregistry.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_3934B39132C6454A9E2966ADA58371DE }}/appsvc/staticsite:${{ github.sha }}'
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_6C4853648C2547A0B3642AE4D0E57CCC }}